.careers-poster-image-wrapper {
  aspect-ratio: 200 / 300;
}

@media (min-width: 479px) {
  [data-expand="expand"] {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 2;
    grid-row-end: span 2;
  }
}
